@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    @model Articulo;
*@
@using CodigoComun.Modelo.DTO;
@model IEnumerable<ArticuloDTO>;
@{}
<div class="container">
    <h1 class="display-1 text-dark">
        Index <small class="text-white bg-primary bg-opacity-35 rounded-6">Articulos</small> 
    </h1>
    <br/>
    <div class="row">
        <div class="card rounded-6" style="width: 90rem;">
            <div class="card-body">
            <h5 class="card-title">Articulos</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary"><small class="text-white bg-secondary bg-opacity-35 rounded-2">WebbAppStock</small></h6>
            <p class="card-tex p-0">En esta pagina se encuentran listados todos los <small class="text-white bg-primary bg-opacity-35 rounded-2">Articulos</small>  con los que estamos trabajando. </p>
            <p class="card-text p-0">
                Si quiere ingresar un nuevo <small class="text-white bg-primary bg-opacity-35 rounded-2">Articulo</small>  haga clic en el boton crear aqui abajo. 
                Para quitar o editar los datos de un <small class="text-white bg-primary bg-opacity-35 rounded-2">Articulo</small>  utilizar los botones en las listas.
            </p>
            <a class="btn btn-primary text-light" asp-action="Create">Crear</a>
            </div>
        </div>           
    </div>
    <br>
    <div class="row">
        <table class="table table-striped">
            <thead class="text-white text-center">
            <tr>
                <th class="bg-dark" scope="col">Id</th>
                <th class="bg-primary"scope="col">Nombre</th>
                <th class="bg-dark" scope="col">Marca</th>
                <th class="bg-primary"scope="col">Proovedor</th>
                <th class="bg-dark" scope="col">MinimoStock</th>
                <th class="bg-primary" scope="col">Precio</th>
                <th class="bg-dark" scope="col">Codigo</th>                
            </tr>
            </thead>
            @foreach (var i in Model)
            {
                <tbody class="text-center">
                <tr>
                    <th class="bg-light p-2 text-dark bg-opacity-75" scope="row">@i.Id</th>
                    <td class="bg-primary p-2 text-white bg-opacity-50">@i.Nombre</td>
                    <td class="bg-light p-2 text-dark bg-opacity-50">@i.Marca</td>
                    <td class="bg-primary p-2 text-white bg-opacity-50">@i.Proveedor</td>                        
                    <td class="bg-light p-2 text-dark bg-opacity-50">@i.MinimoStock</td>
                    <td class="bg-primary p-2 text-white bg-opacity-50">@i.Precio</td>
                    <td class="bg-light p-2 text-dark bg-opacity-50">@i.Codigo</td>
                    <td>
                        <a class="btn btn-block btn-secondary text-light h-65  p-0" asp-action="Edit" asp-route-id="@i.Id">Editar</a>
                        <br>
                        <a class="btn btn-block btn-danger text-light h-65 p-0" asp-action="Delete" asp-route-id="@i.Id">Eliminar</a>
                        <br>
                            <a class="btn btn-block btn-success text-light h-65  p-0" asp-action="StockDeArticulo" asp-route-id="@i.Id">Stock</a>
                    </td>
                </tr>
                </tbody>
            }
        </table>
    </div>
</div>
